[submodule ".vim/pack/vendor/start/vim-fugitive"]
	path = .vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/vendor/start/fzf.vim"]
	path = .vim/pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
