[submodule "vim/pack/sam/start/ale"]
	path = vim/pack/sam/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/sam/start/nerdtree"]
	path = vim/pack/sam/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
